@import "../../variablesAndMixins";
@import "../../formAndTooltip";
@import "../../tabDesign";

// TODO: All CSS ==============================================================================
// ==================== Header ====================
#header {
  @include matFigure(headerLeftTile, center, flex-start, 80);
  @include matFigure(headerRightTile, center, flex-end, 0, 80);
  @include matFigure(headerMobTile, center, flex-start, 35);
  #headerDesktop {
    background-color: $headingDark;
    h1 {
      @include textStyle(36, 48, 500, $white, $headingDark);
    }
  }
  // Header for mobile
  #headerMob {
    background-color: $headingDark;
    h1 {
      @include textStyle(24, 32, 500, $white, $headingDark);
    }
  }

  // Logout Button Design
  #logoutBtn {
    @include btnStyle(
      14,
      18,
      600,
      24,
      7,
      $white,
      $lightGreen,
      $white,
      $lightGreen
    );
    margin-top: 10px;
  }
}

// ===================== FORM =========================

// Main Form
#form {
  @include matFigure(formApplicationTile, center, flex-start);
  @include matFigure(formButtonsTile, center, flex-end);
  h1 {
    @include textStyle(36, 48, 500, $headingDark);
  }
  .actionBtn {
    @include btnStyle(14, 18, 600, 24, 7, $green, $green, $white, $lightGreen);
    margin-left: 20px;
  }
}

// Nested Form
#nestedForm {
  h1 {
    @include textStyle(36, 48, 500, $headingDark);
  }

  @include matFigure(applicantTile, flex-start, flex-start);
  @include matFigure(decisionTile, flex-start, flex-start);
  @include matFigure(calculatorTile, flex-start, flex-start);

  h2 {
    @include textStyle(18, 24, 500, $headingDark);
  }
}

// Footer
#footer {
  @include matFigure(footerLeftTile, center, flex-start, 80);
  @include matFigure(footerRightTile, center, flex-end);
  @include matFigure(footerMiddleTile, center, center);
}
#end {
  height: 25px;
  background: $green;
}
