<!-- FOOTER -->
<div id="footer">
  <mat-grid-list
    cols="3"
    rowHeight="173px"
    id="footerDesktop"
    *ngIf="isMedium || isLarge"
  >
    <mat-grid-tile id="footerLeftTile"
      ><img src="../../assets/Renew logo.svg" height="70px" alt="logo" />
    </mat-grid-tile>
    <mat-grid-tile id="footerMiddleTile">
      <div>
        <div>
          <img
            src="../../assets/California First logo.svg"
            alt="California First"
            height="22px"
          />
        </div>
        <div style="margin-top: 10px;">
          <img
            src="../../assets/Renew Pace logo.svg"
            alt="Renew Pace"
            height="22px"
          />
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile id="footerRightTile">
      <img src="../../assets/Group 4.svg" alt="line" height="70px" />
    </mat-grid-tile>
  </mat-grid-list>
  <!-- Footer Mobile View -->
  <div id="footerMob" *ngIf="isXsmall || isSmall">
    <mat-grid-list cols="6" rowHeight="58px">
      <mat-grid-tile colspan="2" class="footerLogo"
        ><img src="../../assets/Group 1logo.svg" height="27px" alt="logo" />
      </mat-grid-tile>
      <mat-grid-tile colspan="2" class="footerLogo">
        <img
          src="../../assets/California first logowhite.svg"
          alt="California first"
          height="21px"
        />
      </mat-grid-tile>
      <mat-grid-tile colspan="2" class="footerLogo">
        <img
          src="../../assets/Renew pace logowhite.svg"
          alt="Renew pace"
          height="21px"
        />
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <div>
          <p style="color: #fff;">Contact Us</p>
          <p>info@renewfinancial.com</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <p style="font-size: 18px;">844-736-3934</p>
      </mat-grid-tile>

      <!-- <mat-grid-tile colspan="6" style="margin : 0 20px">
          <mat-icon style="color: #fff;">copyright</mat-icon>
          <span style="color: #fff;">
            2020 Renew Financial, 1221 Broadway, 4th floor, Oakland, CA
            94612</span
          >
        </mat-grid-tile> -->
    </mat-grid-list>
    <h5
      style="text-align: center;color: #fff; padding: 10px; margin-top: 0px; padding-top: 0px; margin: 0; font-size: 9px;"
    >
      <mat-icon>copyright</mat-icon>2020 Renew Financial, 1221 Broadway, 4th
      floor, Oakland, CA 94612
    </h5>
  </div>

  <div id="end"></div>
</div>
