<div style="background-color: #fff;">
  <!-- TODO: HEADER -->
  <div id="header">
    <!-- This is for Desktop view -->
    <mat-grid-list
      cols="3"
      rowHeight="173px"
      id="headerDesktop"
      *ngIf="isMedium || isLarge"
    >
      <mat-grid-tile id="leftTile"
        ><img src="../../assets/Group 1logo.svg" height="75px" alt="logo" />
      </mat-grid-tile>
      <mat-grid-tile colspan="2" id="rightTile">
        <div>
          <h1>Customer Onboarding Form</h1>
          <div style="float: right;">
            <img
              src="../../assets/California first logowhite.svg"
              alt=""
              max-height="26px"
              style="margin-right: 26px;"
            />
            <img
              src="../../assets/Renew pace logowhite.svg"
              alt=""
              height="26px"
            />
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <!-- TODO: This is for Mobile view -->
    <mat-grid-list
      cols="1"
      rowHeight="146px"
      id="headerMob"
      *ngIf="isXsmall || isSmall"
    >
      <mat-grid-tile id="tileMob">
        <div>
          <img
            src="../../assets/Group 1logo.svg"
            height="60px"
            alt="logo"
            style="margin-bottom: 8px;"
          />
          <h1>Customer Onboarding Form</h1>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <!-- TODO: FORM -->
  <div id="form">
    <form
      #customerForm="ngForm"
      (ngSubmit)="submitCustomerForm(customerForm)"
      [style.margin-left.px]="formMargin"
      [style.margin-right.px]="formMargin"
    >
      <!--1. Primary Information -->
      <div>
        <h1 [ngStyle]="setMyStyles()">
          Primary Information
        </h1>
        <mat-grid-list
          [cols]="primaryCol"
          [gutterSize]="gutterSize"
          [rowHeight]="rowHeight"
        >
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>First Name </mat-label>
              <input
                matInput
                required
                ngModel
                name="firstName"
                #firstName="ngModel"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>Last Name </mat-label>
              <input
                matInput
                required
                ngModel
                name="lastName"
                #lastName="ngModel"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>Mobile Number </mat-label>
              <input
                matInput
                required
                ngModel
                name="mobile"
                #mobile="ngModel"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>Email ID </mat-label>
              <input matInput required ngModel name="email" #email="ngModel" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>Birth Date </mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                required
                ngModel
                name="dob"
                #dob="ngModel"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>Social Security Number </mat-label>
              <input matInput required ngModel name="ssNo" #ssNo="ngModel" />
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <!--2. Income & Other Information -->
      <div>
        <h1 [ngStyle]="setMyStyles()">
          Income & Other Information
        </h1>
        <mat-grid-list
          [cols]="primaryCol"
          [gutterSize]="gutterSize"
          [rowHeight]="rowHeight"
        >
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>Income </mat-label>
              <input
                matInput
                required
                ngModel
                name="income"
                #income="ngModel"
              />
              <span matSuffix class="dollarIcon">$</span>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>Source of Income </mat-label>
              <mat-select
                required
                ngModel
                name="sOfIncome"
                #sOfIncome="ngModel"
              >
                <mat-option value="option1">option 1</mat-option>
                <mat-option value="option2">option 2</mat-option>
                <mat-option value="option3">option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>How many people live in your house? </mat-label>
              <mat-select
                required
                ngModel
                name="noOfPeople"
                #noOfPeople="ngModel"
              >
                <mat-option value="option1">option 1</mat-option>
                <mat-option value="option1">option 2</mat-option>
                <mat-option value="option2">option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile class="checkBoxTile">
            <mat-checkbox style="margin-top: 0px;"
              >Do you live at the same address
            </mat-checkbox>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <!--3. Documents -->
      <div>
        <h1
          [ngStyle]="setMyStyles()"
          [style.margin-bottom.px]="isXsmall ? '90' : '60'"
        >
          Documents
          <span style="font-size: 24px;"
            >(Minimal Documentation for Faster Pre Qualification)</span
          >
        </h1>
        <mat-grid-list
          [cols]="documentsCol"
          [gutterSize]="gutterSize"
          [rowHeight]="rowHeight"
        >
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>Driving Licence </mat-label>
              <ngx-mat-file-input ngModel name="drivingLicence" required>
              </ngx-mat-file-input>
              <img
                src="../../assets/Line 3.png"
                alt=""
                matSuffix
                matTooltip="Upload valid Driving license"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>Bank Statement </mat-label>
              <ngx-mat-file-input ngModel name="bankStatement" required>
              </ngx-mat-file-input>
              <img
                src="../../assets/Line 3.png"
                alt=""
                matSuffix
                matTooltip="Upload Bank statement within last 3 months"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile *ngIf="isLarge"></mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>Title Deed </mat-label>
              <ngx-mat-file-input ngModel name="titleDeed" required>
              </ngx-mat-file-input>
              <img
                src="../../assets/Line 3.png"
                alt=""
                matSuffix
                matTooltip="Upload"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>Credit Report </mat-label>
              <ngx-mat-file-input ngModel name="creditReport" required>
              </ngx-mat-file-input>
              <img
                src="../../assets/Line 3.png"
                alt=""
                matSuffix
                matTooltip="Upload"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile *ngIf="isLarge"></mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>Tax Returns </mat-label>
              <ngx-mat-file-input ngModel name="taxReturns">
              </ngx-mat-file-input>
              <img
                src="../../assets/Line 3.png"
                alt=""
                matSuffix
                matTooltip="Upload latest Tax returns"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>Property Value </mat-label>
              <ngx-mat-file-input ngModel name="propertyValue">
              </ngx-mat-file-input>
              <img
                src="../../assets/Line 3.png"
                alt=""
                matSuffix
                matTooltip="Upload copy of property appraisal form"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>Utility Bill </mat-label>
              <ngx-mat-file-input ngModel name="utilityBill">
              </ngx-mat-file-input>
              <img
                src="../../assets/Line 3.png"
                alt=""
                matSuffix
                matTooltip="Upload latest utility bill"
              />
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <!--Contractor Information -->
      <div>
        <h1 [ngStyle]="setMyStyles()">Contractor Information</h1>
        <mat-grid-list
          [cols]="contractorInfoCol"
          gutterSize="70px"
          [rowHeight]="rowHeight"
        >
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>Apply with Renew Contractor (or)</mat-label>
              <mat-select
                required
                ngModel
                name="applyWithRenew"
                #applyWithRenew="ngModel"
              >
                <mat-option value="option1">option 1</mat-option>
                <mat-option value="option1">option 2</mat-option>
                <mat-option value="option2">option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>Apply with Non Renew Contractor</mat-label>
              <input
                matInput
                required
                ngModel
                name="applyWithNonRenew"
                #applyWithNonRenew="ngModel"
                placeholder="Enter Manually"
              />
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <!--5. Financing Details -->
      <div>
        <h1 [ngStyle]="setCheckBoxStyles()">
          Financing Details
        </h1>
        <mat-grid-list [cols]="checkboxCol" gutterSize="50px" rowHeight="50px">
          <mat-grid-tile class="checkBoxTile">
            <mat-checkbox disableRipple>Solar Panel Financing</mat-checkbox>
          </mat-grid-tile>
          <mat-grid-tile class="checkBoxTile">
            <mat-checkbox disableRipple
              >Windows and Doors Financing</mat-checkbox
            >
          </mat-grid-tile>
          <mat-grid-tile class="checkBoxTile">
            <mat-checkbox disableRipple
              >Roofing and Roof replacement Financing</mat-checkbox
            >
          </mat-grid-tile>
          <mat-grid-tile class="checkBoxTile">
            <mat-checkbox disableRipple
              >Landscaping and Turf Financing</mat-checkbox
            >
          </mat-grid-tile>
          <mat-grid-tile class="checkBoxTile">
            <mat-checkbox disableRipple
              >Hurricane Protection Financing</mat-checkbox
            >
          </mat-grid-tile>
          <mat-grid-tile class="checkBoxTile">
            <mat-checkbox disableRipple
              >Earthquake Protection Financing</mat-checkbox
            >
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <!--6. Terms & Conditions -->
      <div id="tAndC">
        <h1 [ngStyle]="setMyStyles()">Terms & Conditions</h1>
        <h4>
          Consent to do busineess electronically
        </h4>
        <p>
          - Federal <span style="font-weight: bold;">ESIGN</span> Disclosure and
          Consent
        </p>
        <p>
          - I understand that the following disclosures are required by the
          federal Electronic Signatures in Global and National Commerce Act
          (“ESIGN”). They are necessary to submit my credit application
          electronically; I confirm my consent to these ESIGN disclosures by
          clicking “I have reviewed this entire Consent and Authorization, I
          authorize You to process my Application for financing, and I consent
          to do business electronically.” below.
        </p>
        <h4>
          Acknowledgment and Authorization
        </h4>
        <p>
          - I am the record owner of the property listed in the Application,
          which I certify is my primary residence; any information I furnish to
          You is true and complete; Pursuant to the federal Fair Credit
          Reporting Act, I authorize You to obtain consumer reports from
          consumer reporting agencies in connection with my Application,
          including information on my income and employment status;
        </p>
        <p>
          - I understand in some circumstances I may be subject to multiple
          consumer reporting inquiries to determine my potential eligibility;
        </p>
        <p>
          - I will advise You of any material changes in my financial condition
          during the Application process and term of the financing;
        </p>
        <p>
          - I authorize You to provide the status of my Application to my
          contractor; and
        </p>
        <p>
          - I authorize You to call any telephone number I provide and
          understand that I may incur a charge from the telecommunications,
          wireless or Internet services and that You have no liability for such
          charges.
        </p>
        <p>
          - I understand financing is subject to approval and certain
          restrictions may apply.
        </p>

        <h4>
          concent to Electronic Submission Application
        </h4>
        <p>
          - By clicking “I have reviewed this entire Consent and Authorization,
          I authorize You to process my Application for financing, and I consent
          to do business electronically.” below, I hereby electronically sign
          this Application for financing and I affirmatively consent and agree
          that my electronic signature on this Application for financing has the
          same effect as if I had signed it manually.
        </p>

        <div id="tAndCheckbox" style="margin-top: 30px;">
          <mat-checkbox disableRipple>
            I have reviewed this entire Consent and Authorization, I authorize
            You to process my Application for financing, and I concent to do
            business electronically.
          </mat-checkbox>
        </div>
      </div>
      <button
        mat-stroked-button
        type="submit"
        [style.margin-top.px]="buttonTopMargin"
        [style.margin-bottom.px]="buttonBottomMargin"
        id="applyBtn"
      >
        Apply
      </button>
    </form>
  </div>

  <!-- TODO: FOOTER -->
  <div id="footer">
    <mat-grid-list
      cols="3"
      rowHeight="173px"
      id="footerDesktop"
      *ngIf="isMedium || isLarge"
    >
      <mat-grid-tile id="leftTile"
        ><img src="../../assets/Renew logo.svg" height="70px" alt="logo" />
      </mat-grid-tile>
      <mat-grid-tile id="middleTile">
        <div>
          <p style="color: #9E9E9E;">Contact Us</p>
          <p>info@renewfinancial.com</p>
          <p style="margin-top: 5px;">844-736-3934</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile id="logoTile">
        <img src="../../assets/Group 4.svg" alt="line" height="70px" />
      </mat-grid-tile>
    </mat-grid-list>
    <!-- Footer Mobile View -->
    <div id="footerMob" *ngIf="isXsmall || isSmall">
      <mat-grid-list cols="6" rowHeight="58px">
        <mat-grid-tile colspan="2" class="footerLogo"
          ><img src="../../assets/Group 1logo.svg" height="27px" alt="logo" />
        </mat-grid-tile>
        <mat-grid-tile colspan="2" class="footerLogo">
          <img
            src="../../assets/California first logowhite.svg"
            alt="California first"
            height="21px"
          />
        </mat-grid-tile>
        <mat-grid-tile colspan="2" class="footerLogo">
          <img
            src="../../assets/Renew pace logowhite.svg"
            alt="Renew pace"
            height="21px"
          />
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
          <div>
            <p style="color: #fff;">Contact Us</p>
            <p>info@renewfinancial.com</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
          <p style="font-size: 18px;">844-736-3934</p>
        </mat-grid-tile>

        <!-- <mat-grid-tile colspan="6" style="margin : 0 20px">
          <mat-icon style="color: #fff;">copyright</mat-icon>
          <span style="color: #fff;">
            2020 Renew Financial, 1221 Broadway, 4th floor, Oakland, CA
            94612</span
          >
        </mat-grid-tile> -->
      </mat-grid-list>
      <h5
        style="text-align: center;color: #fff; padding: 10px; margin-top: 0px; padding-top: 0px; margin: 0; font-size: 9px;"
      >
        <mat-icon>copyright</mat-icon>2020 Renew Financial, 1221 Broadway, 4th
        floor, Oakland, CA 94612
      </h5>
    </div>
  </div>

  <div id="end"></div>
</div>
