<select [(ngModel)]="selectedLanguage" (change)="selected()">
  <option value="en">en</option>
  <option value="es">es</option>
</select>

<div style="background-color: #fff;">
  <!-- TODO: HEADER -->
  <div id="header">
    <!-- This is for Desktop view -->
    <mat-grid-list
      cols="3"
      rowHeight="173px"
      id="headerDesktop"
      *ngIf="isMedium || isLarge"
    >
      <mat-grid-tile id="leftTile"
        ><img
          [src]="images['headerImages']['leftLogo']"
          height="75px"
          alt="logo"
        />
      </mat-grid-tile>
      <mat-grid-tile colspan="2" id="rightTile">
        <div>
          <h1>{{ "CUSTOMER.customerForm" | translate }}</h1>
          <div style="float: right;">
            <img
              [src]="images['headerImages']['rightLogos']['rightTile1']"
              alt=""
              max-height="26px"
              style="margin-right: 26px;"
            />
            <img
              [src]="images['headerImages']['rightLogos']['rightTile2']"
              alt=""
              height="26px"
            />
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <!-- TODO: This is for Mobile view -->
    <mat-grid-list
      cols="1"
      rowHeight="146px"
      id="headerMob"
      *ngIf="isXsmall || isSmall"
    >
      <mat-grid-tile id="tileMob">
        <div>
          <img
            [src]="images['headerImages']['leftLogo']"
            height="60px"
            alt="logo"
            style="margin-bottom: 8px;"
          />
          <h1>{{ "CUSTOMER.customerForm" | translate }}</h1>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <!-- TODO: FORM -->
  <div id="form">
    <form
      #customerForm="ngForm"
      (ngSubmit)="submitCustomerForm(customerForm)"
      [style.margin-left.px]="formMargin"
      [style.margin-right.px]="formMargin"
    >
      <!--1. Primary Information -->
      <div>
        <h1 [ngStyle]="setMyStyles()">
          {{ "CUSTOMER.primaryHeading.name" | translate }}
        </h1>
        <mat-grid-list
          [cols]="primaryCol"
          [gutterSize]="gutterSize"
          [rowHeight]="rowHeight"
        >
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>{{
                "CUSTOMER.primaryHeading.labels.firstName" | translate
              }}</mat-label>
              <input
                matInput
                required
                ngModel
                name="firstName"
                #firstName="ngModel"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>{{
                "CUSTOMER.primaryHeading.labels.lastName" | translate
              }}</mat-label>
              <input
                matInput
                required
                ngModel
                name="lastName"
                #lastName="ngModel"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>{{
                "CUSTOMER.primaryHeading.labels.mobileNumber" | translate
              }}</mat-label>
              <input
                matInput
                required
                ngModel
                name="mobile"
                #mobile="ngModel"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>{{
                "CUSTOMER.primaryHeading.labels.emailID" | translate
              }}</mat-label>
              <input matInput required ngModel name="email" #email="ngModel" />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>{{
                "CUSTOMER.primaryHeading.labels.birthDate" | translate
              }}</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                required
                ngModel
                name="dob"
                #dob="ngModel"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>{{
                "CUSTOMER.primaryHeading.labels.socialNumber" | translate
              }}</mat-label>
              <input matInput required ngModel name="ssNo" #ssNo="ngModel" />
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <!--2. Income & Other Information -->
      <div>
        <h1 [ngStyle]="setMyStyles()">
          {{ "CUSTOMER.incomeHeading.name" | translate }}
        </h1>
        <mat-grid-list
          [cols]="primaryCol"
          [gutterSize]="gutterSize"
          [rowHeight]="rowHeight"
        >
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label
                >{{ "CUSTOMER.incomeHeading.labels.income" | translate }}
              </mat-label>
              <input
                matInput
                required
                ngModel
                name="income"
                #income="ngModel"
              />
              <span matSuffix class="dollarIcon">$</span>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label
                >{{
                  "CUSTOMER.incomeHeading.labels.sourceIncomeDropdown.label"
                    | translate
                }}
              </mat-label>
              <mat-select
                required
                ngModel
                name="sOfIncome"
                #sOfIncome="ngModel"
              >
                <mat-option value="option1">{{
                  "CUSTOMER.incomeHeading.labels.sourceIncomeDropdown.options.option1"
                    | translate
                }}</mat-option>
                <mat-option value="option2">{{
                  "CUSTOMER.incomeHeading.labels.sourceIncomeDropdown.options.option2"
                    | translate
                }}</mat-option>
                <mat-option value="option3">{{
                  "CUSTOMER.incomeHeading.labels.sourceIncomeDropdown.options.option3"
                    | translate
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>{{
                "CUSTOMER.incomeHeading.labels.peopleLiveDropdown.label"
                  | translate
              }}</mat-label>
              <mat-select
                required
                ngModel
                name="noOfPeople"
                #noOfPeople="ngModel"
              >
                <mat-option value="option1"
                  >{{
                    "CUSTOMER.incomeHeading.labels.peopleLiveDropdown.options.option1"
                      | translate
                  }}
                </mat-option>
                <mat-option value="option2"
                  >{{
                    "CUSTOMER.incomeHeading.labels.peopleLiveDropdown.options.option2"
                      | translate
                  }}
                </mat-option>
                <mat-option value="option3"
                  >{{
                    "CUSTOMER.incomeHeading.labels.peopleLiveDropdown.options.option3"
                      | translate
                  }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile class="checkBoxTile">
            <mat-checkbox
              style="margin-top: 0px;"
              name="liveSameAddress"
              ngModel
              >{{ "CUSTOMER.incomeHeading.labels.liveSameAddress" | translate }}
            </mat-checkbox>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <!--3. Documents -->
      <div>
        <h1
          [ngStyle]="setMyStyles()"
          [style.margin-bottom.px]="isXsmall ? '90' : '60'"
        >
          {{ "CUSTOMER.documentsHeading.name" | translate }}
          <span style="font-size: 24px;">{{
            "CUSTOMER.documentsHeading.spanText" | translate
          }}</span>
        </h1>
        <mat-grid-list
          [cols]="documentsCol"
          [gutterSize]="gutterSize"
          [rowHeight]="rowHeight"
        >
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>{{
                "CUSTOMER.documentsHeading.labels.drivingLicence.label"
                  | translate
              }}</mat-label>
              <ngx-mat-file-input ngModel name="drivingLicence" required>
              </ngx-mat-file-input>
              <img
                [src]="images['uploadIcon']"
                alt=""
                matSuffix
                matTooltip="{{
                  'CUSTOMER.documentsHeading.labels.drivingLicence.tooltip'
                    | translate
                }}"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>{{
                "CUSTOMER.documentsHeading.labels.bankStatement.label"
                  | translate
              }}</mat-label>
              <ngx-mat-file-input ngModel name="bankStatement" required>
              </ngx-mat-file-input>
              <img
                [src]="images['uploadIcon']"
                alt=""
                matSuffix
                matTooltip="{{
                  'CUSTOMER.documentsHeading.labels.bankStatement.tooltip'
                    | translate
                }}"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile *ngIf="isLarge"></mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>{{
                "CUSTOMER.documentsHeading.labels.titleDeed.label" | translate
              }}</mat-label>
              <ngx-mat-file-input ngModel name="titleDeed" required>
              </ngx-mat-file-input>
              <img
                [src]="images['uploadIcon']"
                alt=""
                matSuffix
                matTooltip="{{
                  'CUSTOMER.documentsHeading.labels.titleDeed.tooltip'
                    | translate
                }}"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>{{
                "CUSTOMER.documentsHeading.labels.creditReport.label"
                  | translate
              }}</mat-label>
              <ngx-mat-file-input ngModel name="creditReport" required>
              </ngx-mat-file-input>
              <img
                [src]="images['uploadIcon']"
                alt=""
                matSuffix
                matTooltip="{{
                  'CUSTOMER.documentsHeading.labels.creditReport.tooltip'
                    | translate
                }}"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile *ngIf="isLarge"></mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>{{
                "CUSTOMER.documentsHeading.labels.taxReturns.label" | translate
              }}</mat-label>
              <ngx-mat-file-input ngModel name="taxReturns">
              </ngx-mat-file-input>
              <img
                [src]="images['uploadIcon']"
                alt=""
                matSuffix
                matTooltip="{{
                  'CUSTOMER.documentsHeading.labels.taxReturns.tooltip'
                    | translate
                }}"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>{{
                "CUSTOMER.documentsHeading.labels.propertyValue.label"
                  | translate
              }}</mat-label>
              <ngx-mat-file-input ngModel name="propertyValue">
              </ngx-mat-file-input>
              <img
                [src]="images['uploadIcon']"
                alt=""
                matSuffix
                matTooltip="{{
                  'CUSTOMER.documentsHeading.labels.propertyValue.tooltip'
                    | translate
                }}"
              />
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>{{
                "CUSTOMER.documentsHeading.labels.utilityBill.label" | translate
              }}</mat-label>
              <ngx-mat-file-input ngModel name="utilityBill">
              </ngx-mat-file-input>
              <img
                [src]="images['uploadIcon']"
                alt=""
                matSuffix
                matTooltip="{{
                  'CUSTOMER.documentsHeading.labels.utilityBill.tooltip'
                    | translate
                }}"
              />
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <!--Contractor Information -->
      <div>
        <h1 [ngStyle]="setMyStyles()">
          {{ "CUSTOMER.contractorHeading.name" | translate }}
        </h1>
        <mat-grid-list
          [cols]="contractorInfoCol"
          gutterSize="70px"
          [rowHeight]="rowHeight"
        >
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>{{
                "CUSTOMER.contractorHeading.labels.renewContractorDropdown.label"
                  | translate
              }}</mat-label>
              <mat-select
                required
                ngModel
                name="applyWithRenew"
                #applyWithRenew="ngModel"
              >
                <mat-option value="option1"
                  >{{
                    "CUSTOMER.contractorHeading.labels.renewContractorDropdown.options.option1"
                      | translate
                  }}
                </mat-option>
                <mat-option value="option2"
                  >{{
                    "CUSTOMER.contractorHeading.labels.renewContractorDropdown.options.option2"
                      | translate
                  }}
                </mat-option>
                <mat-option value="option3"
                  >{{
                    "CUSTOMER.contractorHeading.labels.renewContractorDropdown.options.option3"
                      | translate
                  }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="standard">
              <mat-label>{{
                "CUSTOMER.contractorHeading.labels.nonRenewContractor.label"
                  | translate
              }}</mat-label>
              <input
                matInput
                required
                ngModel
                name="applyWithNonRenew"
                #applyWithNonRenew="ngModel"
                placeholder="{{
                  'CUSTOMER.contractorHeading.labels.nonRenewContractor.placeholder'
                    | translate
                }}"
              />
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
      <!--5. Financing Details -->
      <div>
        <h1 [ngStyle]="setCheckBoxStyles()">
          {{ "CUSTOMER.financingHeading.name" | translate }}
        </h1>
        <mat-grid-list [cols]="checkboxCol" gutterSize="50px" rowHeight="50px">
          <mat-grid-tile class="checkBoxTile">
            <mat-checkbox disableRipple>{{
              "CUSTOMER.financingHeading.labels.solar" | translate
            }}</mat-checkbox>
          </mat-grid-tile>
          <mat-grid-tile class="checkBoxTile">
            <mat-checkbox disableRipple>{{
              "CUSTOMER.financingHeading.labels.windows" | translate
            }}</mat-checkbox>
          </mat-grid-tile>
          <mat-grid-tile class="checkBoxTile">
            <mat-checkbox disableRipple>{{
              "CUSTOMER.financingHeading.labels.roofing" | translate
            }}</mat-checkbox>
          </mat-grid-tile>
          <mat-grid-tile class="checkBoxTile">
            <mat-checkbox disableRipple>{{
              "CUSTOMER.financingHeading.labels.landscaping" | translate
            }}</mat-checkbox>
          </mat-grid-tile>
          <mat-grid-tile class="checkBoxTile">
            <mat-checkbox disableRipple>{{
              "CUSTOMER.financingHeading.labels.hurricane" | translate
            }}</mat-checkbox>
          </mat-grid-tile>
          <mat-grid-tile class="checkBoxTile">
            <mat-checkbox disableRipple>{{
              "CUSTOMER.financingHeading.labels.earthquake" | translate
            }}</mat-checkbox>
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <!--6. Terms & Conditions -->
      <div id="tAndC">
        <h1 [ngStyle]="setMyStyles()">
          {{ "CUSTOMER.termsHeading.name" | translate }}
        </h1>
        <h4>
          {{ "CUSTOMER.termsHeading.texts.text1" | translate }}
        </h4>
        <p>
          - Federal <span style="font-weight: bold;">ESIGN</span>
          {{ "CUSTOMER.termsHeading.texts.text2" | translate }}
        </p>
        <p>
          {{ "CUSTOMER.termsHeading.texts.text3" | translate }}
        </p>
        <h4>
          {{ "CUSTOMER.termsHeading.texts.text4" | translate }}
        </h4>
        <p>
          {{ "CUSTOMER.termsHeading.texts.text5" | translate }}
        </p>
        <p>
          {{ "CUSTOMER.termsHeading.texts.text6" | translate }}
        </p>
        <p>
          {{ "CUSTOMER.termsHeading.texts.text7" | translate }}
        </p>
        <p>
          {{ "CUSTOMER.termsHeading.texts.text8" | translate }}
        </p>
        <p>
          {{ "CUSTOMER.termsHeading.texts.text9" | translate }}
        </p>
        <p>
          {{ "CUSTOMER.termsHeading.texts.text10" | translate }}
        </p>

        <h4>
          {{ "CUSTOMER.termsHeading.texts.text11" | translate }}
        </h4>
        <p>
          {{ "CUSTOMER.termsHeading.texts.text12" | translate }}
        </p>

        <div id="tAndCheckbox">
          <input type="checkbox" id="vehicle1" required />
          <label for="vehicle1">
            {{ "CUSTOMER.termsHeading.texts.checkboxLabel" | translate }}
          </label>
        </div>
      </div>
      <button
        mat-stroked-button
        type="submit"
        [style.margin-top.px]="buttonTopMargin"
        [style.margin-bottom.px]="buttonBottomMargin"
        id="applyBtn"
      >
        {{ "CUSTOMER.applyBtn" | translate }}
      </button>
    </form>
  </div>

  <!-- TODO: FOOTER -->
  <div id="footer">
    <mat-grid-list
      cols="3"
      rowHeight="173px"
      id="footerDesktop"
      *ngIf="isMedium || isLarge"
    >
      <mat-grid-tile id="leftTile"
        ><img
          [src]="images['footerImages']['leftTile']"
          height="70px"
          alt="logo"
        />
      </mat-grid-tile>
      <mat-grid-tile id="middleTile">
        <div>
          <p style="color: #9E9E9E;">{{ "CUSTOMER.contact" | translate }}</p>
          <p>info@renewfinancial.com</p>
          <p style="margin-top: 5px;">844-736-3934</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile id="logoTile">
        <img
          [src]="images['footerImages']['rightTile']"
          alt="line"
          height="70px"
        />
      </mat-grid-tile>
    </mat-grid-list>
    <!-- Footer Mobile View -->
    <div id="footerMob" *ngIf="isXsmall || isSmall">
      <mat-grid-list cols="6" rowHeight="58px">
        <mat-grid-tile colspan="2" class="footerLogo"
          ><img
            [src]="images['headerImages']['leftLogo']"
            height="27px"
            alt="logo"
          />
        </mat-grid-tile>
        <mat-grid-tile colspan="2" class="footerLogo">
          <img
            [src]="images['headerImages']['rightLogos']['rightTile1']"
            alt="California first"
            height="21px"
          />
        </mat-grid-tile>
        <mat-grid-tile colspan="2" class="footerLogo">
          <img
            [src]="images['headerImages']['rightLogos']['rightTile2']"
            alt="Renew pace"
            height="21px"
          />
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
          <div>
            <p style="color: #fff;">Contact Us</p>
            <p>info@renewfinancial.com</p>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
          <p style="font-size: 18px;">844-736-3934</p>
        </mat-grid-tile>

        <!-- <mat-grid-tile colspan="6" style="margin : 0 20px">
          <mat-icon style="color: #fff;">copyright</mat-icon>
          <span style="color: #fff;">
            2020 Renew Financial, 1221 Broadway, 4th floor, Oakland, CA
            94612</span
          >
        </mat-grid-tile> -->
      </mat-grid-list>
      <h5
        style="text-align: center;color: #fff; padding: 10px; margin-top: 0px; padding-top: 0px; margin: 0; font-size: 9px;"
      >
        <mat-icon>copyright</mat-icon>2020 Renew Financial, 1221 Broadway, 4th
        floor, Oakland, CA 94612
      </h5>
    </div>
  </div>

  <div id="end"></div>
</div>
