@import "../../variablesAndMixins";
@import "../../sidenav";

mat-drawer {
  background-color: $headingDark !important;
  width: 280px;
}

// .mat-drawer-backdrop.mat-drawer-shown {
//   visibility: hidden !important;
// }

#end {
  height: 25px;
  background: $green;
}
